[submodule "qmk_firmware"]
	path = qmk_firmware
	url = https://github.com/qmk/qmk_firmware.git
[submodule "CherryUSB"]
	path = CherryUSB
	url = https://github.com/O-H-M2/CherryUSB.git
[submodule "utils/toolchain"]
	path = utils/toolchain
	url = https://github.com/Huckies/riscv-none-embed-gcc.git
[submodule "qmk_porting/keyboards_private"]
	path = qmk_porting/keyboards_private
	url = https://github.com/O-H-M2/keyboards_private.git
[submodule "mcuboot"]
	path = mcuboot
	url = https://github.com/mcu-tools/mcuboot.git
